:root {
  font-family: 'Segoe UI';
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #EEE;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}



input, select, button {
  border-radius: 4px;
  border: 1px solid rgba(0,0,0, 0.2);
  padding: 8px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #EEE;
  cursor: pointer;
  transition: border-color 0.25s;
}

.card {
  border-width: 0px;
  padding: 24px;
  text-align: left;
  border-radius: 16px;
  min-width: 160px;
  min-height: 160px;
  box-shadow: 0px 0px 24px rgba(0,0,0, 0.6);
  margin-left: auto;
}

dialog{
  z-index: 10;
}

.detail{
  line-height: 135%;
  margin: 0px 0px -6px 0px;
  font-size: 10px;
  font-weight: 400;
}

button.go{
  color: green
}

.cardActions{
  display: flex;
  margin-top: 32px;
  justify-content: space-between;
}

.label{
  line-height: 135%;
  margin: 0px 0px 0px 0px;
  font-size: 12px;
  font-weight: 400;
}

.text{
  line-height: 135%;
  margin: 0px 0px 8px 0px;
  font-size: 16px;
  font-weight: 400;
}

.title{
  line-height: 135%;
  margin: 0px 0px 16px 0px;
  font-size: 24px;
  font-weight: 600;
}

button.cancel{
  color: red;
}

button:hover ,input:hover, select:hover {
  border-color: rgba(207, 207, 207, 0.3);
}


button:focus,
button:focus-visible {
  outline: 2px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
